---
# Berachain Mainnet
#
# Consensus container client & version
consensus_version: v1.3.0 # Beacond release version
consensus_chain_id: mainnet-beacon-80094

# Consensus Engine Overrides
# consensus_seeds: ""
# consensus_persistent_peers: ""
# suggested_fee_recipient: ""

# Execution container client & version
execution_container_version: v1.0.0
execution_client: reth # Available options: reth, geth
execution_chain_id: 80094
execution_genesis_md5sum: f3ec1202993b1b69a9c7ad30643856ce
